:root {
  --hue-main: 210deg;
  --hue-accent: 16deg;

  --color-text: hsl(var(--hue-main) 10% 20%);
  --color-text-low-contrast: hsl(var(--hue-main) 10% 40%);
  --color-highlight: hsl(var(--hue-accent) 72% 39%);

  --color-link: hsl(var(--hue-main) 60% 30%);
  --color-light-bg: hsl(var(--hue-main) 18% 96%);
  --color-dark-bg: var(--color-text);
}

body {
  color: var(--color-text);
  background-color: var(--color-light-bg);
}

.calendar-date-event {
  background-color: aqua;
}

a {
  color: var(--color-link);
}

.btn {
  box-shadow: none;
  background: #fff;
}

.btn:hover {
  box-shadow: inset 0 0 0px 1px var(--color-link);
  background: #fff;
}

.calendar-table tbody td {
  box-shadow: inset 0 0 0 1px hsl(var(--hue-main), 20%, 90%);
}

.calendar-table button {
  box-shadow: inset 0 0 0 1px hsl(var(--hue-main), 20%, 20%);
}

.calendar-table [data-selected='selected'] button {
  box-shadow: inset 0 0 0 1px hsl(var(--hue-accent), 70%, 20%);
  color: hsl(var(--hue-accent), 50%, 95%);
  background: hsl(var(--hue-accent), 70%, 40%);
}
