/* Forms */

@define-mixin chevronDown {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%232e3338'><polygon points='0,0 100,0 50,50'/></svg>");
  background-size: auto 12px;
  background-position: calc(100% - 10px) 11px;
  background-repeat: no-repeat;
  padding-right: 2.5rem;
}

input,
select,
.display-value {
  border: none;
  cursor: pointer;
  @mixin fontSize 16;
  max-width: 50%;
  padding: var(--b);
}

select {
  appearance: none;
  @mixin chevronDown;
  background-color: #fff;
}

input[name='dates'] {
  @mixin chevronDown;
}

.display-value {
  background: #eee;
}

fieldset {
  background: #fff;
  @mixin padHor;
  @mixin bleedHor;
  padding-top: calc(0.5 * var(--b));
  padding-bottom: calc(0.5 * var(--b));
  border: none;
  margin-bottom: var(--bx);
  min-width: 0;

  & * {
    min-width: 0;
  }
}

.form-el-set {
  display: flex;
  margin-left: -1rem;

  & .form-el {
    padding-left: 1rem;
    flex: 1;
  }
}

.form-el {
  display: flex;
  align-items: center;

  position: relative;
}

.form-el label {
  box-shadow: inset 0 -1px 0 hsl(0deg 0% 90%);
}

.form-el:last-child label,
.form-el-set label {
  box-shadow: none;
}

.form-el--hasError {
  color: red;
}

.form-el-error {
  position: absolute;
  top: 0;
  right: 0;
}

label {
  @mixin fontSize 14;
  opacity: 0.7;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: calc(2 * var(--b));
  padding-bottom: calc(2 * var(--b));
  cursor: pointer;
}

label p {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

/* Record Form  */

.form-record input {
  text-align: right;
}
