/* Forms */

select {
  /* background: #fff; */
}

input,
select,
.display-value {
  border: none;
  cursor: pointer;
  padding-top: var(--b);
  padding-bottom: var(--b);
  @mixin fontSize 16;
  /* max-width: 100%; */
}

.display-value {
  background: #eee;
}

fieldset {
  background: #fff;
  @mixin padHor;
  @mixin bleedHor;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  margin-bottom: var(--bx);
  min-width: 0;

  & * {
    min-width: 0;
  }
}

.form-element-set {
  display: flex;
  margin-left: -1rem;

  & .form-el {
    padding-left: 1rem;
    flex: 1;
    /* width: 50%; */
  }
}

.form-el {
  display: flex;
  align-items: center;
  box-shadow: inset 0 -1px 0 hsl(0deg 0% 90%);
  position: relative;
}

.form-el--hasError {
  color: red;
}

.form-el:last-child {
  /* box-shadow: none; */
}

.form-el-error {
  position: absolute;
  top: 0;
  right: 0;
}

label {
  @mixin fontSize 14;
  opacity: 0.7;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: calc(2 * var(--b));
  padding-bottom: calc(2 * var(--b));
  cursor: pointer;
}

label p {
  margin-bottom: 0;
  /* background: #eee; */
  display: flex;
  align-items: center;
  /* background-color: lightcyan; */
}

label input {
  /* background: lavender; */
}

/* Record Form  */

.form-record input {
  text-align: right;
}
