.body {
  background: #eee;
}

button {
  all: unset;
  cursor: pointer;
}

button:focus {
  outline: 2px solid hsl(var(--hue-main), 60%, 40%);
  outline-offset: 4px;
  outline-style: revert;
}

figure {
  margin-left: 0;
}

/* button:active {
  transform: scale(0.99);
} */

table {
  border-collapse: collapse;
}
