.Nav {
  margin-bottom: 1rem;
}

.Nav ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.Nav li {
  margin-right: 0.5rem;
}

table {
  width: 100%;
}

table td {
  border: 1px solid green;
  width: calc(100% / 7);
}
