.body {
  background: #eee;
}

button {
  all: unset;
  cursor: pointer;
}

button:focus {
  outline: 2px solid hsl(0deg 0% 50%);
  outline-offset: 1px;
}

figure {
  margin-left: 0;
}

/* button:active {
  transform: scale(0.99);
} */
