:root {
  --b: 0.3rem;
}

/* Typography */

@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-selector :--typographic :--heading, p, ul, figure;

/* 
   General
   .................................
*/
html {
  font-size: calc(14em / 16);
}

body {
  font-family: 'Inter', 'system-ui';
  line-height: 1.4;
}

:--typographic {
  margin-top: 0;
  margin-bottom: 1rem;
}

:--typographic:last-child {
  margin-bottom: 0;
}

:--heading {
  font-size: 1rem;
}
