:root {
  --b: 0.3rem;
  --bx: calc(4 * var(--b));
}

/* Typography */

@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-selector :--typographic :--heading, p, ul, figure;

@define-mixin fontSize $size {
  font-size: calc($size * 1rem / 16);
}

/*
   General
   .................................
*/
html {
}

body {
  font-family: 'Inter', 'system-ui', sans-serif;
  line-height: 1.4;
  @mixin fontSize 14;
}

:--heading {
  font-size: 2rem;
}

:--typographic {
  margin-top: 0;
  margin-bottom: 1rem;
}

:--typographic:last-child {
  margin-bottom: 0;
}
