@define-mixin padHor {
  padding-left: calc(3 * var(--b));
  padding-right: calc(3 * var(--b));
}

html {
  height: calc(var(--vh, 1vh) * 100);
  /* height: -webkit-fill-available; */
  touch-action: manipulation;
}

#root {
  /* height: 100vh; */
  height: calc(var(--vh, 1vh) * 100);
  /* height: -webkit-fill-available; */
  display: grid;
  grid-template-rows: 1fr auto;
}

.main {
  grid-row: 1 / 2;
  @mixin padHor;
  overflow: scroll;
}

.main-navigation {
  grid-row: 2 / 3;
}
