:root {
  --outer-margin: calc(4 * var(--b));
}

@define-mixin padHor {
  padding-left: var(--outer-margin);
  padding-right: var(--outer-margin);
}

@define-mixin bleedHor {
  margin-left: calc(-1 * var(--outer-margin));
  margin-right: calc(-1 * var(--outer-margin));
}

html {
  height: calc(var(--vh, 1vh) * 100);
  /* height: -webkit-fill-available; */
  touch-action: manipulation;
}

#root {
  /* height: 100vh; */
  height: calc(var(--vh, 1vh) * 100);
  /* height: -webkit-fill-available; */
  display: grid;
  grid-template-rows: 1fr auto;
}

.main {
  grid-row: 1 / 2;
  @mixin padHor;
  overflow: scroll;
}

.main-navigation {
  grid-row: 2 / 3;
}
