.calendar {
  width: 100%;
}

.calendar-body {
  display: flex;
  flex-direction: column;
}

.calendar-weekdays,
.calendar-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.calendar-week:not(:first-child) {
  --color: hsl(var(--hue-main) 20% 80%);
  box-shadow: inset 0 1px 0 0px var(--color);
}

.calendar-date {
  border-radius: 2px;
  position: relative;
  height: 3rem;
}

.calendar-date-button {
  display: block;
  size: 100%;
  border-radius: 2px;
}

.calendar-date-button-inner {
  padding: 0 1rem;
}

[data-today] button {
  color: rebeccapurple;
  font-weight: bold;
}

[data-records] {
  position: absolute;
  top: 2px;
  right: 2px;
}

.calendar [data-selected='selected'] button {
  --color: hsl(0deg 50% 40%);
  box-shadow: inset 0 0 0 2px var(--color);
  color: var(--color);
}

.calendar-date-event {
  border: 1px solid red;
  display: block;
  background: rebeccapurple;
  margin-bottom: 2px;
  size: 0.4rem;
  color: rebeccapurple;

  & small {
    display: none;
  }
}
