.calendar-table {
  width: 100%;
}

.calendar-table tbody td {
  --color: hsl(0deg 20% 80%);
  box-shadow: inset 0 0 0 1px var(--color);
  width: calc(100% / 7);
  border-radius: 2px;
  position: relative;
  height: 2rem;
}

.calendar-table button {
  background: none;
  display: block;
  width: 100%;
  text-align: left;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

[data-today] button {
  color: rebeccapurple;
  font-weight: bold;
}

[data-records] {
  position: absolute;
  top: 2px;
  right: 2px;
}

.calendar-table [data-selected='selected'] button {
  --color: hsl(0deg 50% 40%);
  box-shadow: inset 0 0 0 2px var(--color);
  color: var(--color);
}

.calendar-date-event {
  background: rebeccapurple;
  margin-bottom: 2px;
  size: 0.4rem;
  color: rebeccapurple;
  font-size: 0.5rem;
  & small {
    display: none;
  }
}
