.date-details-entry {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: #fff;
}

.date-details-entry > * {
  padding: calc(2 * var(--b));
}

.date-details-entry time {
  display: block;
}

.date-details-entry h2 {
  margin-bottom: 0;
}

.date-details-entry h2,
.date-details-entry-time-begin {
  @mixin fontSize 14;

  font-weight: bold;
}

.date-details-entry-content {
  flex: 1 0 calc(100% - 10rem);
}

.date-details-entry-time {
  flex: 1 0 10rem;
  order: 1;
  text-align: right;
}

.date-details-entry-meta,
.date-details-entry-time-end {
  opacity: 0.7;
}

.date-details-entry-meta span {
  margin-right: 1rem;
}

.date-details-entry-meta span:last-child {
  margin-right: 0;
}

.is-ongoing {
  margin-left: 0.2rem;
  padding: 2px 0.5rem 2px;
  color: #fff;
  background-color: #222;
  animation-name: color;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  text-transform: uppercase;
  @mixin fontSize 10;
  letter-spacing: 0.05em;
  display: inline;
  border-radius: 100px;
  position: relative;
  bottom: 1px;
}

@keyframes color {
  /* . */

  0% {
    background-color: var(--color-text);
  }

  50% {
    background-color: var(--color-highlight);
  }

  100% {
    background-color: var(--color-text);
  }
}
