.main-navigation {
  height: calc(8 * var(--b));
  background: #fff;
  padding: 0 1rem;
  box-shadow: 0 0 10px hsl(0deg 5% 85%);
  position: relative;
  z-index: 1;
}

.main-navigation ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  height: 100%;
}

.main-navigation li {
  flex: 1;
  display: flex;
  padding: 0 0.1rem;
}

.main-navigation a {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--color-text);
}

.main-navigation-el--is-current a {
  background: #f7f7f7;
  font-weight: bold;
  color: var(--color-highlight);
}

.main-navigation a:hover {
  background: #f7f7f7;
}
