.main-navigation {
  background: #fff;
  padding: 0 18px;
  box-shadow: 0 0 10px hsl(0deg 5% 85%);
  /* position: relative;
  z-index: 1; */
}

.main-navigation ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  height: 100%;
}

.main-navigation li {
  flex: 1;
  display: flex;
  padding: 0 0.1rem;
}

.main-navigation a {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: var(--color-text);
  padding-top: calc(1 * var(--b));
  @mixin fontSize 10;

  & svg {
    width: 26px;
    height: auto;
  }

  & path {
    fill: currentColor;
  }
}

.main-navigation-el--is-current a {
  background: #f7f7f7;
  color: var(--color-highlight);
}

.main-navigation a:hover {
  background: #f7f7f7;
}
