.segment-nav {
  background: #fff;
  display: flex;
  padding: var(--b);
  border-radius: 4px;
}

.segment-nav-el {
  @mixin fontSize 12;

  padding-top: calc(var(--b) * 1);
  padding-bottom: calc(var(--b) * 1);
  flex: 1;
  text-align: center;
  border-radius: 4px;
  font-weight: bold;
}

.segment-nav-el b {
  transform: translateY(1px);
  display: inline-block;
  /* color: var(--color-highlight); */
  color: var(--color-text-low-contrast);
  /* font-weight: normal; */
}

.segment-nav-el--active {
  background: var(--color-highlight);
  & b {
    color: #fff;
  }
}
