.notification-container {
  position: fixed;
  z-index: 2;
  bottom: 4rem;
  right: 12px;
  transition: height 0.6s ease-in-out;
}

/* Animation / Transitions */

.toast-transition-enter {
  opacity: 0;
  transform: translateX(100px);
}

.toast-transition-enter-active {
  opacity: 1;
  transition: 0.5s ease;
  transform: translateX(0);
}

.toast-transition-exit {
  opacity: 1;
  transform: translateX(0);
}

.toast-transition-exit-active {
  opacity: 0;
  transition: 0.5s ease;
  transform: translateX(100px);
}

/* Actual Toast */

.toast {
  background: #fff;
  padding: 1rem;
  box-shadow: inset 0 0 0 0px var(--color-text),
    0 2px 5px -1px hsl(0deg, 20%, 90%);
  border-radius: 4px;
  margin-top: 1rem;
  border: 2px solid black;
}
