.notification-container {
  position: fixed;
  z-index: 2;
  bottom: 12px;
  right: 12px;
  transition: transform 0.6s ease-in-out;
  animation: toast-in-right 0.7s;
}

/* Animation / Transitions */

/* .it3m-enter {
  opacity: 0;
}

.it3m-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.it3m-exit {
  opacity: 1;
}

.it3m-exit-active {
  opacity: 0;
  transition: opacity 200ms;
} */
