.input-date-display-control {
  padding-top: calc(2 * var(--b));
  padding-bottom: calc(2 * var(--b));

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-date-display {
  color: var(--color-highlight);
}
