.widget-reporting {
  display: flex;
  align-items: flex-start;
}

.widget-reporting-figures {
  display: flex;
}

.widget-reporting-figures-el {
  margin-bottom: 0;
  margin-right: 1.5rem;

  &:last-child {
    margin-right: 0;
  }

  & b {
    @mixin fontSize 22;
  }

  & figcaption {
    @mixin fontSize 12;
    opacity: 0.7;
  }
}
