.widget-reporting {
  display: flex;
  /* align-items: flex-start; */
}

.widget-reporting-figures {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.widget-reporting-figures-el {
  margin-bottom: 0;
  margin-bottom: calc(2 * var(--b));
  margin-right: 0;
  flex: 1 0 50%;
  min-width: 0;

  &:last-child {
    margin-right: 0;
  }

  & b {
    @mixin fontSize 18;
  }

  & figcaption {
    @mixin fontSize 14;
    margin-bottom: var(--b);
    opacity: 0.7;
  }
}
